<!DOCTYPE html>
<html>
  <head>
    <title>Thien's Corner</title>
    <script src="http://fb.me/react-0.12.2.js"></script>
    <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
       
  </head>

  <body>
    <div id="app-container"></div>
    <script src="/static/javascripts/components.js"
            type="text/jsx"></script>
  </body>
</html>
