<!DOCTYPE html>
<html>
  <head>
    <title>Thien's Corner</title>
    <script src="/static/vendor/react/react.js"></script>
    <script src="/static/vendor/react/JSXTransformer.js"></script>
    <script src="/static/vendor/reflux/dist/reflux.js"></script>
    <script src="/static/vendor/react-router/build/global/ReactRouter.js"></script>
  </head>

  <body>
    <div id="app-container"></div>
    <script src="/static/javascripts/actions.js"></script>
    <script src="/static/javascripts/stores.js"></script>
    <script src="/static/javascripts/components.js"
            type="text/jsx"></script>
  </body>
</html>
